 # Ejercicio 1.1
    Cargar el iris dataset como csv usando pandas.
        a) Ver la cantidad de filas.
        b) Ver los tipos de cada columna.
        c) Ver los valores únicos para la columna especie
        d) Calcular el promedio de cada columna (aquellas columnas donde tenga
        sentido).
        e) Ver la cantidad de filas para cada valor único de la columna especie
        f) ¿Cuanto es el máximo del largo de los sépalos? ¿Y el mı́nimo?
        g) Calcular los mı́nimos, máximos y medias de las columnas numericas por
        especie.

**Importo la biblioteca Pandas**

In [44]:
import pandas as pd

**Leo el archivo iris.csv**

In [31]:
df = pd.read_csv('iris.csv')

**Muestro las primeras cinco filas para visualizar el DataFrame**

In [32]:
df.head()

,largo_sepalo(cm),ancho_sepalo(cm),largo_petalo(cm),ancho_petalo(cm),especie
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

 **a) Ver la cantidad de filas.**
 
 _Se puede hallar la cantidad de filas de un DataFrame utilizando len(df)_

In [33]:
len(df)

150

**b) Ver los tipos de cada columna**

_Los nombres de cada columna se pueden observar con df.columns_

In [43]:
df.columns

Index(['largo_sepalo(cm)', 'ancho_sepalo(cm)', 'largo_petalo(cm)',
       'ancho_petalo(cm)', 'especie'],
      dtype='object')

**c) Ver los valores únicos para la columna especie**

Para ver los valores únicos para la columna especie podemos usar df.['especie'].unique()_

In [34]:
df['especie'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

**d) Calcular el promedio de cada columna (aquellas columnas donde tenga
        sentido).**

_Palcular el promedio de cada columna en aquellas columnas donde tenga
    sentido usamos df.mean()_

In [35]:
df.mean()

largo_sepalo(cm)    5.843333
ancho_sepalo(cm)    3.054000
largo_petalo(cm)    3.758667
ancho_petalo(cm)    1.198667
dtype: float64

**e) Ver la cantidad de filas para cada valor único de la columna especie**

_Para ver la cantidad de filas para cada valor único de la columna especie usamos df['especie'].value_counts()_

In [36]:
df['especie'].value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: especie, dtype: int64

 **f) ¿Cuanto es el máximo del largo de los sépalos? ¿Y el mı́nimo?** 
 
 _Si usamos min() y max() esto es sencillo de responder_

In [37]:
df['largo_sepalo(cm)'].min()

4.3

In [38]:
df['largo_sepalo(cm)'].max()

7.9

**g) Calcular los mı́nimos, máximos y medias de las columnas numericas por
    especie.**

_Para realizar esto primeros usamos groupby y agrupamos el DataFrame por especie y luego le pasamos con agg una lista de las funciones que le queremos aplicar al resto de las columnas_

In [42]:
df.groupby('especie').agg(['min', 'max', 'mean'])

                largo_sepalo(cm)             ancho_sepalo(cm)              \
                             min  max   mean              min  max   mean
especie
Iris-setosa                  4.3  5.8  5.006              2.3  4.4  3.418
Iris-versicolor              4.9  7.0  5.936              2.0  3.4  2.770
Iris-virginica               4.9  7.9  6.588              2.2  3.8  2.974

                largo_petalo(cm)             ancho_petalo(cm)
                             min  max   mean              min  max   mean
especie
Iris-setosa                  1.0  1.9  1.464              0.1  0.6  0.244
Iris-versicolor              3.0  5.1  4.260              1.0  1.8  1.326
Iris-virginica               4.5  6.9  5.552              1.4  2.5  2.026